.logo {
    width: 800px;
    height: auto;
    position: relative;
    padding-left: 100px;
}

* {
    text-align: center;
}

.Balance {
    color: #232323;
    outline: none;
}

.Balance:hover {
    outline: none;
    color: #232323;
}